<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <defaultDocument>
            <files>
                <clear />
                <add value="index.php" />
                <add value="index.html" />
                <add value="Default.htm" />
                <add value="Default.asp" />
                <add value="index.htm" />
                <add value="iisstart.htm" />
            </files>
        </defaultDocument>
		<rewrite>
            <rules>
                <rule name="rewritephp" enabled="true">
							<match url="(.*)" />
							<conditions logicalGrouping="MatchAll">
							<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
							<add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
							</conditions>
							<action type="Rewrite" url="{R:1}.php" />
                </rule>
				<rule name="HTTP/S to HTTPS Redirect" enabled="true" stopProcessing="true">
							<match url="(.*)" />
							<conditions logicalGrouping="MatchAny">
							<add input="{SERVER_PORT_SECURE}" pattern="^0$" />
							</conditions>
							<action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" redirectType="Permanent" />
				</rule>		
            </rules>			
        </rewrite>
		<httpErrors errorMode="Custom">
			<remove statusCode="404" subStatusCode="-1" />
			<error statusCode="404" prefixLanguageFilePath="" path="/" responseMode="ExecuteURL" />
		</httpErrors>
        
    </system.webServer>
	
</configuration>
